assets/MWS/ADESPComplianceTaskImpl/src/caf/war/ADESPComplianceTaskImpl/wsclient/ixtaskmanagement/ws/provider/soap/queuetaskoperations/queueTaskOperations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="queueTaskOperations" targetNamespace="http://172.31.40.225/DCDTaskManagement.ws.provider.soap:queueTaskOperations" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://172.31.40.225/DCDTaskManagement.ws.provider.soap:queueTaskOperations" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://172.31.40.225/DCDTaskManagement.ws.provider.soap:queueTaskOperations" xmlns:tns="http://172.31.40.225/DCDTaskManagement.ws.provider.soap:queueTaskOperations" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="queueTask" type="tns:queueTask"/>
          <xsd:element name="queueTaskResponse" type="tns:queueTaskResponse"/>
          <xsd:element name="getLastActedUserForTask" type="tns:getLastActedUserForTask"/>
          <xsd:element name="getLastActedUserForTaskResponse" type="tns:getLastActedUserForTaskResponse"/>
          <xsd:element name="getMoreInfoUsers" type="tns:getMoreInfoUsers"/>
          <xsd:element name="getMoreInfoUsersResponse" type="tns:getMoreInfoUsersResponse"/>
          <xsd:element name="updateTask" type="tns:updateTask"/>
          <xsd:element name="updateTaskResponse" type="tns:updateTaskResponse"/>
          <xsd:complexType name="queueTask">
            <xsd:sequence>
              <xsd:element name="input" nillable="true" type="tns:input"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="input">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="requestId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="taskId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="taskName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="action" nillable="true" type="xsd:string"/>
              <xsd:element name="interfaceId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
              <xsd:element name="userType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="comments" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="assignee" nillable="true" type="xsd:string"/>
              <xsd:element name="processModelId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="queueTaskResponse">
            <xsd:sequence>
              <xsd:element name="output" nillable="true" type="tns:output"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="output">
            <xsd:sequence>
              <xsd:element name="status" nillable="true" type="tns:Status"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="Status">
            <xsd:sequence>
              <xsd:element name="code" nillable="true" type="xsd:string"/>
              <xsd:element name="msgCode" nillable="true" type="xsd:string"/>
              <xsd:element name="description" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getLastActedUserForTask">
            <xsd:sequence>
              <xsd:element name="request" nillable="true" type="tns:request"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="request">
            <xsd:sequence>
              <xsd:element name="taskId" nillable="true" type="xsd:string"/>
              <xsd:element name="taskName" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getLastActedUserForTaskResponse">
            <xsd:sequence>
              <xsd:element name="response" nillable="true" type="tns:response"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="response">
            <xsd:sequence>
              <xsd:element name="lastActedUser" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getMoreInfoUsers">
            <xsd:sequence>
              <xsd:element name="request_id" nillable="true" type="xsd:string"/>
              <xsd:element name="task_name" nillable="true" type="xsd:string"/>
              <xsd:element name="processType" nillable="true" type="xsd:string"/>
              <xsd:element name="ProcessData" nillable="true" type="tns:ProcessData"/>
              <xsd:element name="BusinessDoc" nillable="true" type="tns:BusinessDoc2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ProcessData">
            <xsd:sequence>
              <xsd:element name="PRTInternal" nillable="true" type="tns:PRTInternal"/>
              <xsd:element name="LastEvents" nillable="true" type="tns:LastEvents"/>
              <xsd:element name="tmdModelId" nillable="true" type="xsd:string"/>
              <xsd:element name="tmdTargetStepId" nillable="true" type="xsd:string"/>
              <xsd:element name="tmdSourceStepId" nillable="true" type="xsd:string"/>
              <xsd:element name="ProcessInstanceID" nillable="true" type="xsd:string"/>
              <xsd:element name="ProcessIteration" nillable="true" type="xsd:string"/>
              <xsd:element name="ProcessModelID" nillable="true" type="xsd:string"/>
              <xsd:element name="ProcessModelVersion" nillable="true" type="xsd:string"/>
              <xsd:element name="ProcessStepID" nillable="true" type="xsd:string"/>
              <xsd:element name="TryCount" nillable="true" type="xsd:string"/>
              <xsd:element name="LoopCounter" nillable="true" type="xsd:string"/>
              <xsd:element name="LogicalServer" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="PRTInternal">
            <xsd:sequence>
              <xsd:element name="PubDocs" nillable="true" type="tns:PubDocs"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="PubDocs">
            <xsd:sequence>
              <xsd:element name="BusinessDoc" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="LastEvents">
            <xsd:sequence>
              <xsd:element name="PRTEvents" nillable="true" type="tns:PRTEvents"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="PRTEvents">
            <xsd:sequence>
              <xsd:element name="instanceId" nillable="true" type="xsd:string"/>
              <xsd:element name="modelId" nillable="true" type="xsd:string"/>
              <xsd:element name="modelVersion" nillable="true" type="xsd:string"/>
              <xsd:element name="targetStepId" nillable="true" type="xsd:string"/>
              <xsd:element name="trackCount" nillable="true" type="xsd:string"/>
              <xsd:element name="sourceStepId" nillable="true" type="xsd:string"/>
              <xsd:element name="serverId" nillable="true" type="xsd:anyType"/>
              <xsd:element name="deadPath" nillable="true" type="xsd:boolean"/>
              <xsd:element name="inputExec" nillable="true" type="xsd:boolean"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="BusinessDoc2">
            <xsd:sequence>
              <xsd:element name="action" nillable="true" type="xsd:string"/>
              <xsd:element name="childCount" nillable="true" type="xsd:int"/>
              <xsd:element name="isChildTask" nillable="true" type="xsd:string"/>
              <xsd:element name="licenceType" nillable="true" type="xsd:string"/>
              <xsd:element name="processId" nillable="true" type="xsd:string"/>
              <xsd:element name="requestId" nillable="true" type="xsd:string"/>
              <xsd:element name="requestType" nillable="true" type="xsd:string"/>
              <xsd:element name="status" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" name="taskConfig" nillable="true" type="tns:taskConfig"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="taskConfig">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="actions" nillable="true" type="tns:actions"/>
              <xsd:element name="isParallel" nillable="true" type="xsd:boolean"/>
              <xsd:element name="taskName" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="assigneeRole" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="assigneeUser" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="actions">
            <xsd:sequence>
              <xsd:element name="actionName" nillable="true" type="xsd:string"/>
              <xsd:element name="statusCode" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getMoreInfoUsersResponse">
            <xsd:sequence>
              <xsd:element name="count" nillable="true" type="xsd:string"/>
              <xsd:element name="BusinessDoc" nillable="true" type="tns:BusinessDoc3"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="BusinessDoc3">
            <xsd:sequence>
              <xsd:element name="action" nillable="true" type="xsd:string"/>
              <xsd:element name="childCount" nillable="true" type="xsd:int"/>
              <xsd:element name="isChildTask" nillable="true" type="xsd:string"/>
              <xsd:element name="licenceType" nillable="true" type="xsd:string"/>
              <xsd:element name="processId" nillable="true" type="xsd:string"/>
              <xsd:element name="requestId" nillable="true" type="xsd:string"/>
              <xsd:element name="requestType" nillable="true" type="xsd:string"/>
              <xsd:element name="status" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" name="taskConfig" nillable="true" type="tns:taskConfig2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="taskConfig2">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="actions" nillable="true" type="tns:actions2"/>
              <xsd:element name="isParallel" nillable="true" type="xsd:boolean"/>
              <xsd:element name="taskName" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="actions2">
            <xsd:sequence>
              <xsd:element name="actionName" nillable="true" type="xsd:string"/>
              <xsd:element name="statusCode" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="updateTask">
            <xsd:sequence>
              <xsd:element name="input" nillable="true" type="tns:UpdateTask"/>
              <xsd:element name="logUserInfo" nillable="true" type="tns:LogUserInformation"/>
              <xsd:element name="isInternalUser" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="taskId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="UpdateTask">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="taskId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="action" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="comments" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="LogUserInformation">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="remoteHostName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ipAddress" nillable="true" type="xsd:string"/>
              <xsd:element name="userType" nillable="true" type="xsd:string"/>
              <xsd:element name="roles" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="updateTaskResponse">
            <xsd:sequence>
              <xsd:element name="output" nillable="true" type="tns:output2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="output2">
            <xsd:sequence>
              <xsd:element name="status" nillable="true" type="tns:Status"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="queueTaskOperations_PortType_queueTaskResponse">
    <wsdl:part name="parameters" element="tns:queueTaskResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queueTaskOperations_PortType_getMoreInfoUsers">
    <wsdl:part name="parameters" element="tns:getMoreInfoUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queueTaskOperations_PortType_getLastActedUserForTask">
    <wsdl:part name="parameters" element="tns:getLastActedUserForTask">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queueTaskOperations_PortType_updateTask">
    <wsdl:part name="parameters" element="tns:updateTask">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queueTaskOperations_PortType_updateTaskResponse">
    <wsdl:part name="parameters" element="tns:updateTaskResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queueTaskOperations_PortType_queueTask">
    <wsdl:part name="parameters" element="tns:queueTask">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queueTaskOperations_PortType_getMoreInfoUsersResponse">
    <wsdl:part name="parameters" element="tns:getMoreInfoUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queueTaskOperations_PortType_getLastActedUserForTaskResponse">
    <wsdl:part name="parameters" element="tns:getLastActedUserForTaskResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="queueTaskOperations_PortType">
    <wsdl:operation name="getLastActedUserForTask">
      <wsdl:input message="tns:queueTaskOperations_PortType_getLastActedUserForTask">
    </wsdl:input>
      <wsdl:output message="tns:queueTaskOperations_PortType_getLastActedUserForTaskResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTask">
      <wsdl:input message="tns:queueTaskOperations_PortType_updateTask">
    </wsdl:input>
      <wsdl:output message="tns:queueTaskOperations_PortType_updateTaskResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queueTask">
      <wsdl:input message="tns:queueTaskOperations_PortType_queueTask">
    </wsdl:input>
      <wsdl:output message="tns:queueTaskOperations_PortType_queueTaskResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMoreInfoUsers">
      <wsdl:input message="tns:queueTaskOperations_PortType_getMoreInfoUsers">
    </wsdl:input>
      <wsdl:output message="tns:queueTaskOperations_PortType_getMoreInfoUsersResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DCDTaskManagement_ws_provider_soap_queueTaskOperations_Binder" type="tns:queueTaskOperations_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLastActedUserForTask">
      <soap:operation soapAction="DCDTaskManagement_ws_provider_soap_queueTaskOperations_Binder_getLastActedUserForTask" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTask">
      <soap:operation soapAction="DCDTaskManagement_ws_provider_soap_queueTaskOperations_Binder_updateTask" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queueTask">
      <soap:operation soapAction="DCDTaskManagement_ws_provider_soap_queueTaskOperations_Binder_queueTask" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMoreInfoUsers">
      <soap:operation soapAction="DCDTaskManagement_ws_provider_soap_queueTaskOperations_Binder_getMoreInfoUsers" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IXTaskManagement.ws.provider.soap.queueTaskOperations">
    <wsdl:port name="DCDTaskManagement_ws_provider_soap_queueTaskOperations_Port" binding="tns:DCDTaskManagement_ws_provider_soap_queueTaskOperations_Binder">
      <soap:address location="http://172.31.12.19:5555/ws/IXTaskManagement.ws.provider.soap:queueTaskOperations/DCDTaskManagement_ws_provider_soap_queueTaskOperations_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
